{% extends "base.html" %}


{% block header_text %}
{% endblock %}

{% block content %}
    <section>
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <img class="card-img-top mb-5 mb-md-0" src="{{object.image.url}}" />
                </div>
                <div class="col-md-6">
                    <div class="small mb-1">Dodane przez użytkownika {{ object.user_who_added }}</div>
                    {% if object.status == 1 %}
                        <span class="badge bg-info">Oczekuje na akceptacje</span>
                    {% endif %}
                    {% if object.status == 2 %}
                        <span class="badge bg-success">Aktualne</span>
                    {% endif %}
                    {% if object.status == 3 %}
                        <span class="badge bg-warning">Odrzucone</span>
                    {% endif %}
                    {% if object.status == 4 %}
                        <span class="badge bg-danger">Zarezerwowane</span>
                    {% endif %}
                    {% if object.status == 5 %}
                        <span class="badge bg-dark">Sprzedane</span>
                    {% endif %}
                    <h1 class="display-5 fw-bolder">{{ object.title }}</h1>
                    <div class="fs-5 mb-5">
                        <span class="fw-bold">Cena:</span>
                        <span>{{ object.price }} zł</span>
                    </div>
                    <p class="lead">
                        <span class="fw-bold d-block">Opis ogłoszenia:</span>
                        {{ object.description }}
                    </p>
                    <div class="d-flex">
                        {% if user.is_authenticated  and user != object.user_who_added and object.status == 2 %}
                            <form name="create_station" method="post" action="{% url 'book-announcement' %}">
                                {% csrf_token %}
                                <input name="announcement_id" hidden value="{{ object.id }}">
                                <input class="btn btn-outline-dark flex-shrink-0" type="submit" value="Zarezerwuj przedmiot u kupującego"/>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}