{% extends "base.html" %}

{% block header %}
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Strona z ogłoszeniami</h1>
                <p class="lead fw-normal text-white-50 mb-0">
                   Twoje dane w systemie
                </p>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <form method="post">
      {% csrf_token %}
      {{ user_form.as_p }}
        <h6>Dane Adresowe:</h6>
      {{ profile_form.as_p }}
        <input class="btn btn-dark" type="submit" value="Zapisz zmiany">
    </form>
{% endblock %}