{% extends "base.html" %}

{% block content %}
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        {% for announcement in  announcements%}
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top" src="{{ announcement.image.url }}" />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{ announcement.title }}</h5>
                            {{ announcement.price }} zł
                            <div>
                                {{ announcement.description|truncatechars:70 }}
                            </div>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href={% url 'announcement' pk=announcement.id %}>Zobacz ogłoszenie</a></div>
                    </div>
                </div>
            </div>
        {% empty %}
            </div>
            <div class="text-center display-4">
                Brak ogłoszeń.
            </div>
        {% endfor %}
    </div>
{% endblock %}