{% extends "base.html" %}

{% block header_text %}
    <p class="lead fw-normal text-white-50 mb-0">
        Lista Twoich wszystkich Twoich rezerwacji
    </p>
{% endblock %}

{% block content %}
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3">
        <ul class="list-group">
            {% for reservation in reservations %}
                <li class="list-group-item">
                    {% if reservation.announcement.status == 5 %}
                        <span class="badge badge-pill bg-success mb-1">Potwierdzono otrzymanie przedmiotu</span>
                    {% endif %}
                    <h5 class="fw-bold">Ogłoszenie:</h5>
                    <div>
                        <span class="fw-bold">{{ reservation.announcement.title}}</span>
                    </div>
                    <div>
                        <span class="fw-bold">Cena:</span>
                        <span>{{ reservation.announcement.price}} zł</span>
                    </div>

                    <h5 class="fw-bold">Dane Sprzedającego:</h5>
                    <div>
                        <span class="fw-bold">Imię:</span>
                        <span>{{ reservation.announcement.user_who_added.first_name }}</span>
                    </div>
                    <div>
                        <span class="fw-bold">Nazwisko:</span>
                        <span>{{ reservation.announcement.user_who_added.last_name }}</span>
                    </div>
                    <div>
                        <span class="fw-bold">Numer telefonu:</span>
                        <span>{{ reservation.announcement.user_who_added.profile.phone }}</span>
                    </div>
                    {% if reservation.announcement.status == 4 %}
                        <div class="py-2">
                            <form name="create_station" method="post" action="{% url 'confirm' %}">
                                {% csrf_token %}
                                <input name="announcement_id" hidden value="{{ reservation.announcement.id }}">
                                <input class="btn btn-outline-dark flex-shrink-0" type="submit" value="Potwierdź otrzymanie przedmiotu"/>
                            </form>
                        </div>
                    {% endif %}
                    <a class="btn btn-info" href={% url 'announcement' pk=reservation.announcement.id %}>
                        Podgląd zarezerwowanego przedmiotu
                    </a>
                </li>
            {% empty %}
        </ul>
        <div class="text-center display-4">
            Nie zarezerwowałeś jeszcze żadnego ogłoszenia.
        </div>
    {% endfor %}
    </div>
{% endblock %}