{% extends "base.html" %}

{% block header_text %}
    <p class="lead fw-normal text-white-50 mb-0">
        Lista Twoich wszystkich Twoich ogłoszeń
    </p>
{% endblock %}

{% block content %}
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3">
        <ul class="list-group">
            {% for announcement in announcements%}
                <li class="list-group-item">
                    {% if announcement.get_status_display == "sprzedane" %}
                        <span class="badge badge-pill bg-success mb-1">Kupujący potwierdził otrzymanie przedmiotu</span>
                    {% endif %}
                    <div>
                        <span class="fw-bold">{{ announcement.title}}</span>
                    </div>
                    <div>
                        <span class="fw-bold">Cena:</span>
                        <span>{{ announcement.price}} zł</span>
                    </div>
                    <div>
                        <span class="fw-bold">Opis:</span>
                        <span>{{ announcement.description|truncatechars:10 }}</span>
                    </div>
                    <div>
                        <span class="fw-bold">Kategoria:</span>
                        <span>{{ announcement.category }}</span>
                    </div>
                    <div>
                        <span class="fw-bold">Status:</span>
                        <span>{{ announcement.get_status_display }}</span>
                    </div>

                    {% if announcement.status == 4 %}
                        <h5 class="fw-bold">Dane rezerwującego:</h5>
                        <div>
                            <span class="fw-bold">Nazwa Użytkownika:</span>
                            <span>{{ announcement.reservation_set.last.reserved_by_user }}</span>
                        </div>
                        <div>
                            <span class="fw-bold">Imię:</span>
                            <span>{{ announcement.reservation_set.last.reserved_by_user.first_name }}</span>
                        </div>
                        <div>
                            <span class="fw-bold">Nazwisko:</span>
                            <span>{{ announcement.reservation_set.last.reserved_by_user.last_name }}</span>
                        </div>
                        <div>
                            <span class="fw-bold">Numer telefonu:</span>
                            <span>{{ announcement.reservation_set.last.reserved_by_user.profile.phone }}</span>
                        </div>
                    {% endif %}

                    <a class="btn btn-info" href={% url 'announcement' pk=announcement.id %}>Podgląd</a>
                    {% if announcement.status == 1 or announcement.status == 2%}
                        <a class="btn btn-primary" href={% url 'edit-announcement' pk=announcement.id %}>Edytuj</a>
                        <a class="btn btn-danger" href={% url 'delete-announcement' pk=announcement.id %}>Usuń</a>
                    {% endif %}
                </li>
            {% empty %}
        </ul>
        <div class="text-center display-4">
            Nie dodałeś jeszcze żadnego ogłoszenia.
        </div>
    {% endfor %}
    </div>
{% endblock %}